body {
    background-image: url("../img/pattern.jpg");
    position: static;
}

header {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#logo{
    float: left;
}
nav {
    float: right;
    
}

nav ul {

    margin: 0;
    padding-top: 15px;
    width: 250px;
    
}

nav ul a li {
    
    display: inline-flex;
    color: blue;
    text-align: center;
    padding: 5px 30px 0px 10px;
    float: right;
   
    
}


nav ul a:link {
    text-decoration: none;
}

a li:hover {

    background-color: rgb(129, 124, 124);

}

section {
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin: 80px 140px 10px 140px;

}

section h1 {
    padding: 0 0 0 30px;
}

article {
    margin: 30px 30px 30px 30px;
    height: 120px;
}

article a {
    margin-top: 30px;
}

p {
    text-align: justify;
    margin: 10px 10px 10px 10px;
}

article a:link {
    text-decoration: none;
    color: blue;
}

footer {
    background-color: black;
    color: blanchedalmond;
    position: relative;
    height: 50px;
}

footer h5 {

    text-align: center;
    padding-top: 20px;

}